nav {
  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  & li {
    display: inline-block;
    margin-right: 1em;
  }

  & a {
    font-weight: bold;
    color: #222;
    text-decoration: none;
  }

  & a.active {
    color: #999;
  }

  & a:hover,
  & a:active {
    color: #33f;
  }
}
